* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
body {
    background-image: url(Images/1.jpg);
}

.content {
    text-align: center;
    background-color: #00b64c;
    width: 700px;
    padding: 10px;
    height: 280px;
    color: #f1f1f1;
}
  
.footer {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    width: 700px;
    font-size: small;
}

.button {
    background-color: #00b64c;
    border: none;
    color: white;
    padding: 8px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
}